ion-popover {
  --background: rgba(105, 105, 105, 0.6);
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;
  --width: 130px;
}

ion-popover ion-item {
  --background: rgba(105, 105, 105, 0.6);
}

/* In your CSS file or component's style block */
/* In your CSS file or component's style block */
.custom-modal {
  background: black;
  color: white; /* Set the text color to white or any other color that suits your design */
}

.custom-modal-list {
  background-color: black;
  color: white; /* Set the text color to white or any other color that suits your design */
}

.modal-content {
  background-color: black;
  color: white; /* Set the text color to white or any other color that suits your design */
}

